body{
    background-color: #137995;;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;   */
}

.conteneur{
    /* margin: 0 0 0 -0.4115%; */
    background-color: #4A1AB2;;
    width: 50%;
    height: 1013.15px;
}


/* #137995; */
/* #4A1AB2; */

.premier_eclair{
    /* position: fixed; */
    margin-top: -90.5%;
    /* width: 201.7%; */
    height:35px;
    background-color: goldenrod;
}

.deuxieme_eclair{
    
    margin-top: 10.5%;
    transform: rotate(115deg);
    width: 500px;
    height:35px;
    background-color: goldenrod;
    
}

.troisieme_eclair{
    margin: 5.6% 2% 0 0;
    transform: rotate(135deg);
    width: 230px;
    height:35px;
    background-color: goldenrod;
    
}

.quatrieme_eclair{
    margin: 5.55% 4.2% 0 0;
    transform: rotate(115deg);
    width: 500px;
    height:35px;
    background-color: goldenrod;
    
} 
.cinquieme_eclair{
    transform: rotate(135deg);
        margin: 5.58% 6.5% 0 0;
        width:230px;
        height:35px;
        background-color: goldenrod;        
}
.sixieme_eclair{
    margin: 4.65% 8% 0px 0px;
    transform: rotate(115deg);
    width: 465px;
    height:35px;
    background-color: goldenrod;        
}
.septieme_eclair{
        margin-top:9.45%;
        /* width: 201.7%; */
        height:35px;
        background-color: goldenrod;        
}

@media screen {
    
}