body{
    display:flex;
    background-color: rgb(178, 212, 240);
    flex-direction: column;
}

.title{
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137995;
    width: 100.5%;
    margin-top: -.5% ;
    
}
.bouton{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 20px;
}
.accueil{
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: solid #137995 1px;
    align-items: center;
    width: 10%;
}
