body{
    display:flex;
    background-color: rgb(178, 212, 240);
    flex-direction: column;
}

.title{
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137995;
    width: 100.5%;
    margin-top: -.5% ;
    
}