.backPart{
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    margin: -1% 0 0 -1%;
    background-color: rgba(4, 221, 33, 0);
    width: 101%;
    height: 51%;

}

/* PARTIE GAUCHE */
.leftFont{
    flex-direction: column;
    width: 50%;
    height: 200%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #137995;
}
.rightFont{
    flex-direction: column;
    width: 50%;
    height: 200%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #4A1AB2;
}

/* ECRITURE GAUCHE */
#title1{
    color: white;
    font-size: 38px;
}
#title1:hover{
    margin-top: 120px;
    transform: scale(1.2);
    color: black;
    transition: all .5s 10ms ease-in;
}
.b{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 70px;
    background-color: rgba(165, 42, 42, 0.777);
    font-size: 30px;
    border-radius: 10%;
}
.b:hover{
    color: rgb(0, 0, 0);
    transition: all .1s 1ms ease-in;
    transform: scale(1.5);
    background-color: rgba(255, 255, 255, 0.5);
}

/* ECRITURE DROITE */
#title2{
    color: white;
    font-size: 38px;
}
#title2:hover{
    margin-top: 120px;
    transform: scale(1.2);
    transition: all .5s 5ms ease-in;
    color: black;
}

.backInscription{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    color: #4A1AB2;
    background-color: rgba(0, 0, 0, 0);
    margin: 190px 0 0 0;
    width: 101%;
    height: 50%;
}

#Insc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    color: black;
    width: 650px;
    height: 90px;
    background-color: rgba(248, 248, 248, 0.875);
}
#choix{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    color: black;
    width: 650px;
    height: 90px;
    background-color: rgba(248, 248, 248, 0.875);
}