@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body{
    overflow:hidden;
}

.dedicace{
    /* font-family: 'dancing script', cursive; */
    font-size: 18px;
    color: #fff;
    margin-top: 520px;
    margin-left: 1700px;
    overflow: hidden;
    cursor: no-drop;
}

.song{
    overflow: hidden;
    margin: -70px 1600px 0 0;
}


h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

h3:hover{
    color: black;
    transform: scale(.85);
    transition: all .5s 10ms ease-in;
}

.backPart{
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    margin: -1% 0 0 -1%;
    background-color: rgba(4, 221, 33, 0);
    width: 101%;
    height: 51%;

}

/* PARTIE GAUCHE */
.leftFont{
    flex-direction: column;
    width: 50%;
    height: 200%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #137995;
    background-image: url(https://stock.wikimini.org/w/images/9/9a/Polygone-Octogone.png);
    background-size: 50px;
    background-repeat: repeat;
}
.rightFont{
    flex-direction: column;
    width: 50%;
    height: 200%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #4A1AB2;
    background-image: url(https://stock.wikimini.org/w/images/9/9a/Polygone-Octogone.png);
    background-size: 17px;
    background-repeat: repeat;
}

/* ECRITURE GAUCHE */
#title1{

    font-size: 38px;
}
#title1:hover{
    margin-top: 20px;
    transform: scale(1.1);
    transition: all .5s 10ms ease-in;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    transition: all .5s 10ms ease-in;
}
.b{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 70px;
    background-color: rgba(165, 42, 42, 0.777);
    font-size: 30px;
    border-radius: 10%;
}
.b:hover{
    color: rgb(0, 0, 0);
    transition: all .1s 1ms ease-in;
    transform: scale(1.5);
    background-color: rgba(255, 255, 255, 0.5);
}

/* ECRITURE DROITE */
#title2{
    font-size: 38px;
}
#title2:hover{
    margin-top: 20px;
    transform: scale(1.1);
    transition: all .5s 5ms ease-in;
}

.backConnexion{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    color: #4A1AB2;
    background-color: rgba(0, 0, 0, 0);
    margin: 250px 0 0 0;
    width: 101%;
    height: 50%;
}
.pageConnexion:hover{
    color: black;
    transition: all .5s 10ms ease-in;
}
.pageConnexion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Insc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: black;
    width: 450px;
    height: 100px;
    background-color: rgba(248, 248, 248, 0.875);
    overflow: hidden;
}