body{
    background-color: rgb(178, 212, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137995;
    width: 100%;
}
.organisation{
    background-color: rgba(248, 248, 248, 0.875);
    width: 1000px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Crea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}

.case{
    font-size: 30px;
    margin-left: 10px;
}
