body{
    display:flex;
    background-color: rgb(178, 212, 240);
    flex-direction: column;
}

.title{
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137995;
    width: 100%;
}

.menu{
    color: black;
    position: relative;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
}

.rechercher{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.bouton_recherche{
    font-size: 50px;
}

#profil{
    font-size: 30px;
    margin-top: 20px;
    font-size: 50px;
    border:solid  #137995 1px;
    border-radius: 25%;
    width: 10%;
    display: flex;
    justify-content: center;
}
#profil:hover{
    background-color: #a492cc;
}
#profil:active{
    background-color: #9074d1;
}

#quizz{
    font-size: 50px;
    margin-top: 20px;
    border:solid  #137995 1px;
    border-radius: 25%;
    width: 10%;
    display: flex;
    justify-content: center;
}
#quizz:hover{
    background-color: #a492cc;
}
#quizz:active{
    background-color: #9074d1;
}
#creer{
    font-size: 50px;
    margin-top: 20px;
    border:solid  #137995 1px;
    border-radius: 25%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#creer:hover{
    background-color: #a492cc;
}
#creer:active{
    background-color: #9074d1;
}
#deconnexion{
    font-size: 50px;
    margin-top: 20px;
    border:solid  #137995 1px;
    border-radius: 25%;
    width: 20%;
    display: flex;
    justify-content: center;
}
#deconnexion:hover{
    background-color: #a492cc;
}
#deconnexion:active{
    background-color: #9074d1;
}
.texte{
    color: black;
    position: relative;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top: 100px;
    margin: 30px;
}
.contacter{
    background-color: black;
    color: white;
    font-size: 50px ;
    width: 100%;
    height: 1230px;
}
.organisation{
    margin: 30px;
}
.organisation_image{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:1400px){
    h1{
        font-size: large;
    }
    .menu{
        font-size: large;
    }
    .rechercher{
        font-size: large;
    }
    .profil{
        font-size: large;
    }
    .quizz{
        font-size: large;
    }
    .deconnexion{
        font-size: large;
    }
}




