body{
    display:flex;
    background-color: white;
    flex-direction: column;
}

.title{
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137995;
    width: 100%;
    
}

.menu{
    color: black;
    width: 35%;
    height: 1000px;
    position: relative;
    background-color: #137995;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}

.rechercher{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.bouton_recherche{
    font-size: 25px;
}

#profil{
    font-size: 30px;
    margin-top: 20px;
    background-color: #137995;
    border: #137995;
}
#profil:hover{
    background-color: #4A1AB2;
}
#profil:active{
    background-color: #9074d1;
}
#mes_Quizz{
    font-size: 30px;
    margin-top: 20px;
    background-color: #137995;
    border: #137995;
}
#mes_Quizz:hover{
    background-color: #4A1AB2;
}
#mes_Quizz:active{
    background-color: #9074d1;
}
#quizz{
    font-size: 30px;
    margin-top: 20px;
    background-color: #137995;
    border: #137995;
}
#quizz:hover{
    background-color: #4A1AB2;
}
#quizz:active{
    background-color: #9074d1;
}
#deconnexion{
    font-size: 30px;
    margin-top: 20px;
    background-color: #137995;
    border: #137995;
}
#deconnexion:hover{
    background-color: #4A1AB2;
}
#deconnexion:active{
    background-color: #9074d1;
}






