@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(315deg, #137995 10%, #4A1AB2 90%);
    font-family: 'semibold' sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 1100px; */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    width: 600px;
    /* height: 300px; */
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #4A1AB2;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor:pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #137995;
    scale: 1.1;
    font-size: 25px;
    color: #000;
}

button:focus{
    /* To return to the lastet color */
    outline: none;
    /* To change the button's color */
    background-color: green;
}

